<h1>Lista de posts</h1>
{{#each posts}}
    <div id={{id}}>
        <div class="d-flex align-items-center">
            <div class="content w-100">
                <h5>{{title}}</h5>
                <span class="badge rounded-pill bg-primary">{{createdAt}}</span>
                <p>{{content}}</p>
            </div>
            <a href="/delete/{{id}}">
                <button
                    style="height: fit-content;"
                    type="button"
                    class="btn btn-danger d-block"
                >
                    <ion-icon name="trash-outline"></ion-icon>
                </button>
            </a>
        </div>
        <hr />
    </div>
{{/each}}
